@font-face {
	font-family: 'FontsFree-Net-SFProDisplay-Regular';
	src: url('FontsFree-Net-SFProDisplay-Regular.ttf') format('truetype');
}

.mainBox {
	background-image: url("../Images/way.png");
	width: 100%;
	height: 900px;
}

.line {
	background: black;
	opacity: 0.8;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 45px;
}

.date {
	color: white;
	font-family: 'FontsFree-Net-SFProDisplay-Regular', coursive;
	font-size: 16px;
	padding: 12px;
	opacity: 0.9;
}

.words {
	color: white;
	font-family: 'FontsFree-Net-SFProDisplay-Regular', coursive;
	font-size: 16px;
	padding: 12px;
	opacity: 0.9;
}